.contentFooter{
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 1.1rem;
    p{
        color: #666;
        font-weight: 500;
    }
    a{
     color:#1b588d;
     font-weight: 500;
    }
}