.contentForm{
    background: #fff;
    max-width: 400px;
    width: 90%;
    border-radius: 4px;
}

.headForm{
    padding: 20px;
    background: linear-gradient(45deg, #7f1431, #520f21);
    border-radius: 4px 4px 0 0 ;
    color: #f7f7f7;
}

.bodyForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
    padding: 0 20px;
    div{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        label{
            font-size: 1.1rem;
            margin: 0;
        }
        input[type=checkbox]{
            width: 25px;
            height: 25px;
            margin:0;
        }
        select{
            width: 40px;
            height: 25px;
            margin: 0;
        }
    }
}

.btonsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px 20px 20px;
    button{
        width: 100%;
        margin: 0;
        padding: 12px 0;
        border: none;
        background: none;
        border-radius: 4px;
        color: #7f1431;
        font-size: 1.2rem;
        border: 1px solid #7f1431;
        font-weight: 500;
        cursor: pointer;
    }
    .btonPrincipal{
        background: linear-gradient(270deg, #7f1431, #520f21);
        color: #fcfcfc;
    }
    .btonSecundario{
        border: none;
    }
}




