.headerHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #1b588d;
}

.contentUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    color:#f7f7f7;
}

.contentImg{
    border-radius: 50%;
}

.btonOut{
    border: none;
    background: none;
    padding: 8px 8px 8px 2px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1rem;
    transition: all ease-out 200ms;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 425px) {
    .headerHome{
        flex-direction: column-reverse;
        padding: 15px 4px;
        position: relative;
       
    }

    .contentUser{
        width: 100%;
        flex-direction: column;
        margin-top: 5px;
        gap: 5px;
        div{
            margin-left: 15px;
        }
    }

    .btonSesion{
        width: 100%;
        position: absolute;
        top: 15px;
        right: 5px;
        button{
            margin-right: 10px;
        }
    }
}