.mainHome{
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
}

.menuPrincipal{
  width: 100%;
  display: flex;
  align-items: center;
  background: #fbf9f3;
  border-radius: 4px;
  div{
    width: 50%;
    cursor: pointer;
    text-align: center;
    padding: 16px 0;
  }
}

.contentAlbum{
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccionOpciones{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filtros{
  display: flex;
  flex-direction: row;
  align-items: center;
  // width: max-content;
  margin: 0;
  padding: 20px 0;
  gap: 15px;
}

.filtros select{
  padding: 4px 8px;
  font-size: 1.1rem;
}
.btonShare{
  margin: 0;
  button{
    padding: 8px;
    background: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #1d5e97;
    border: 2px solid #1d5e97;
    font-weight: 700;
    cursor: pointer;
    &:hover{
      background: #1d5e97;
      color: #f7f7f7;
    }
  }
}

.footerHome{
  position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.btonFloat{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 50px;
}

@media  screen and (max-width: 1100px) {
  .mainHome{
    margin: 20px auto;
    padding: 0 8px 10px 8px;
  }
  .btonFloat{
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .btonFloat{
    margin-right: 15px;
    margin-bottom: 15px;
  }
}